<% include partial/Header.ejs%>
<% include partial/content.ejs%>

<h1>About me</h1>
<p>
    I'm an international student who cames from China. I have a big interest in computer so I chose Computer Programmer as my career. I'm going to become a great computer programmer.
</p>

<% include partial/Footer.ejs%>