<% include partial/Header.ejs%>
<% include partial/content.ejs%>

<h1><%= title %></h1>


<p>The service that I can do for you are :

 </p>
<div class="text" style=" text-align:center; background-color: #de9fa6">Php</div>
<div class="text" style=" text-align:center; background-color: #cedecd">Sql</div>
<div class="text" style=" text-align:center; background-color: #ded3c4">Java</div>
<div class="text" style=" text-align:center; background-color: #dec2dc">Html</div>
<% include partial/Footer.ejs%>