

    <!DOCTYPE html>
    <html lang="en">
    <head >

        <title>Ming Ying</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/public/stylesheets/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="/public/stylesheets/bootstrap-theme.css">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body {background-color: #c0a4ff;}
            #wapper{
                position: relative;   /*重要！保证footer是相对于wapper位置绝对*/
                height: auto;          /* 保证页面能撑开浏览器高度时显示正常*/
                min-height: 100%  /* IE6不支持，IE6要单独配置*/
            }
            #main-content{
                padding-bottom: 60px; /*重要！给footer预留的空间*/
            }
            p {

            display:block;
            margin-left:auto;
            margin-right:auto;

            text-align:center;
            border:2px solid #a1a1a1;
            padding:10px 40px;
            background:#dddddd;
            width:1050px;
            border-radius:25px;
            -moz-border-radius:25px;}
            h1 {
                display:block;
                margin-left:auto;
                margin-right:auto;

                text-align:center;
                border:2px solid #a1a1a1;
                padding:10px 40px;
                background:#dddddd;
                width:1050px;
                border-radius:25px;
                -moz-border-radius:25px;
                padding: 10px;
                text-align: center
            }
            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {

                width: 70%;
                margin: auto;
            }
        </style>
    </head>

    <title>Ming Ying</title>


  <style>
    div ul li {
      width:340px;
      margin:0px auto 0px auto;
        float: left;
        text-align:center;
        padding: 20px;
        line-height:28px;/*设置行距为28px，让文字在每行的中间位置*/
        background: #d1fffa;/*设置元素的背景为红色*/
        color: #dcbba3;/*文字颜色是白色*/
        margin:100px 10px;
        font-size:20px;/*用12号字*/
   border-radius:25px;

        text-decoration:none; /*去掉下划线*/
    }


  </style>
</html>
<body >
<div>
  <ul>
    <li><a href="/">Home</a> </li>
    <li><a href="/About">About me</a> </li>
      <li><a href="/Contact">Contact me</a> </li>
      <li><a href="/Service">Service</a> </li>
      <li><a href="/Project">Project</a> </li>
  </ul>
</div>
